<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">

		<title>{ifset $title}{$title} | {/ifset}{include #site}</title>

		<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css">
		<link rel="shortcut icon" href="{$basePath}/favicon.ico">

		<link rel="alternate" type="application/rss+xml" title="Posts RSS" href="{link :Rss:default}">
		{block #head}{/block}
	</head>

	<body>
		<script> document.documentElement.className+=' js' </script>

		<div id="banner">
			{block #banner}
				<h1><a n:href=":Article:default">{block #site}Nette BlogExample{/block}</a></h1>
			{/block}
		</div>

		<div id="content">
			{foreach $flashes as $flash}
				<div class="flash {$flash->type}">{$flash->message}</div>
			{/foreach}

			{include #content}

			<footer>
				PHP {=PHP_VERSION} |
				{ifset $_SERVER['SERVER_SOFTWARE']}Server {$_SERVER['SERVER_SOFTWARE']}{/ifset} |
				Nette Framework {=Nette\Framework::VERSION} |
				{block #footer}<a n:href=":Admin:Article:default">Admin</a>{/block}
			</footer>
		</div>

		{block #scripts}
			<script src="{$basePath}/js/jquery.js"></script>
			<script src="{$basePath}/js/netteForms.js"></script>
			<script src="{$basePath}/js/main.js"></script>
		{/block}
	</body>
</html>
